# files
*.txt
*.xlsx
*.pdf
# images
*.png
*.jpg
*.eps
*.jepg
# scitific formats
*.mat
*.DXF
*.dxf
*.fastq
# zipped files
*.tif
*.zip
# python/system files
*.db
*.log
*.npy

res.md

# folder to share notes
share

# folders
__pycache__
.idea
test
backup
imgages/*.png